{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Bit", "Alexa", "Echo", "Hiphop", "Lofi", "DM5", "Wave", "Emi", "Jay", "Soothe", "Phut", "Chip", "Tune", "Alex", "Andreas", "Levi", "Aj", "Eczi", "Snup", "Chil", "J", "Eli", "Byte", "Ping", "Avicii", "Bass", "Roll", "Rem", "Meme", "Pat", "Dub", "Dab" ]
    ]
  ]
}
