{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Ca", "Ce", "Ci", "Ka", "Ke", "Ki", "Sa", "Se", "Si", "So", "Za", "Ze", "Zi", "Zo", "Na", "Ne", "Ni", "No", "La", "Le", "Lo", "Da", "As", "Es", "Is", "It", "Os", "Us", "Rin", "Ei" ],
      [ "nei", "ai", "ylo", "tei", "kii", "kka", "en", "sa", "elei", "ehi", "nei", "zeii", "vei", "kei", "zei", "yeri", "enlen", "euell", "ni", "nae", "li", "lui" ]
    ]
  ]
}
