{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Alyunn", "Vherul", "Velrui", "Ker", "Nervaak", "Atsryl", "Syth", "Ervys", "Vo", "Kavrret", "Te", "Kartas", "Ytlerii", "Kreii", "Rha", "Tsunyus", "Eten", "Tir", "Neb", "Saraat", "Rel", "Brogh", "Bo" ],
	  [ { "mode" : "alts" }, "-" ],
	  [ { "mode" : "alts" }, "Dhess", "Thareu", "Vas", "Ghanvoa", "Tsereun", "Yserui", "Khavlenas", "Tavrais", "Tonvra", "Sylerak", "Neluheos", "Ulvreti", "Tekreit", "Ylres", "Thovlas", "Rehelos", "Tavares", "Ulyen", "Ylon", "Uloss", "Ngheiss", "Ris", "Tolsen" ]
    ]
  ]
}
