{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Mih", "Ae", "Keni", "Toh", "Ruh", "Har", "Kuj", "Vi", "Khu", "Ahur", "Kaha", "Qer" ],
      [ "l", "", "s", "yi", "ar", "-", "lu", "ze", "ol", "'", "j" ],
      [ "zeh", "yal", "min", "kan", "ik", "ann", "ur", "oj", "ne", "uz", "rh", "os" ]
    ]
  ]
}
