{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "A", "Ae", "Au", "Ai", "Ao", "C", "Ce", "Cu", "Ci", "Co", "N", "Ne", "Nu", "Ni", "No", "K", "Ke", "Ku", "Ki", "Ko" ],
      [ "'" ],
      [ "Kuhmun", "Tohmin", "Homraal", "Udchak", "Ardkan", "Vuli", "Merhreii" ]
    ]
  ]
}
