{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ke", "Ki", "Ko", "Ky", "Ti", "Tu", "Z", "I", "U", "N", "If", "Is", "Ie", "Ik", "Ky", "Ny", "Ie", "Fi", "Fe", "Il", "In", "Su", "Se", "Si", "Su", "Jo", "Je", "Ji", "Ju" ],
	  [ { "mode" : "alts" }, "le", "li", "lo", "je", "ji", "jo", "oi", "li", "un", "ne", "ni", "nn", "ie", "in", "en", "ey", "ek", "ei", "yi" ]
    ]
  ]
}
