{
    "attack" : {
      "default" : {
        "default" : [
          "Attack!"
        ]
      },
      "sylethii" : {
        "default" : [
          "For the brethren!",
          "Vehien lyen!", // Shadows calls!
          "Nyleneii ishiul ei!", // Nyleneii take you!
          "Escape is pointless!",
          "The shadows consume you!"
        ]
      },
      "orthirid" : {
        "default" : [
          "For the masters!",
          "The darkness calls!",
          "You won't survive long enough!",
          "You've drawn your last breath!",
          "The shadows consume you!"
        ]
      }
    }
  }
  