{
  "attack" : {
    "default" : {
      "default" : [
        "The blood for Ares' restoration!",
        "We shall restore Ares with your sacrifice!",
        "In Ares' name, i shall feed your flesh to the Blood Gods!",
        "Fool!",
        "Drown in despair!"
      ],
      "ceebe" : [
        "The Blood Gods will feast on your flesh, defiled or not!",
        "They are impertinent fools to send you to kill us!",
        "It's entertaining that your sexual desires don't blind you. But Ares' restoration will demand your blood regardless!",
        "Perish, succubus, under wrath of the Blood Gods!",
        "Engorge in your own bodily fluids, beast!"
      ],
      "nharduunr" : [
        "Nhar'Duurn blood for the Ares!",
        "We don't plan to kosher your sacred carcass at all!",
        "Uncorrupted nebula construct body for the messiah to feast upon!",
        "Your purity will be the foundation for Ares' restoration!.",
        "Fresh... exotic blood... for the Blood Gods!"
      ]
    },
    "glitch" : {
      "default" : [
        "Aggressive. Ares demands your blood!",
        "Furious. The Blood Gods thirsts!",
        "Menacing. FEEL THE WRATH OF THE BROTHERHOOD OF ARES!",
        "Encouraging. Come, brothers! We shall sacrifice the untainted flesh for Ares' resurrection!",
        "Intimidating. Телекомпания ВИD представляет."
      ],
      "glitch" : [
        "Sadistic. We shall forge weapons out of your primitive body while you were still intact!",
        "Angry. Repulsive outsider!",
        "Pleased. Such technology of yours shall be harvested for the Brotherhood and Blood Gods!",
        "Encouraging. Come, brothers! We shall sacrifice the untainted steel for Ares' strength!",
        "Dreadful. We shall appease the Ares with your torn-out motherboard!"
      ]
    }
  }
}
