{
  "attack" : {
    "default" : {
      "default" : [
        "None shall pass!"
      ]
    },
    "human" : {
      "default" : [
        "Alien detected. Eliminating.",
        "Commencing assassination.",
        "On it."
      ],
      "glitch" : [
        "Machine detected. Eliminating.",
        "Commencing \"dismantle\".",
        "On it."
      ],
      "human" : [
        "Heretic detected. Eliminating.",
        "Commencing assassination.",
        "On it."
      ],
      "andarhan" : [
        "Machine detected. Eliminating.",
        "Commencing euthanasia.",
        "On it."
      ]
    }
  }
}
