{
    "attack" : {
      "default" : {
        "default" : [
          "Stand sharp, soldier!"
        ]
      },
      "sylethii" : {
        "default" : [
          "For the brothers!",
          "En vehien lyen!", // The shadow calls!
          "Yl'Veien ishiul ein!", // Yl'Veien conquers you!
          "Revolution!",
          "Revolution!"
        ]
      }
    }
  }
  