{
  "attack" : {
    "default" : {
      "default" : [
        "None shall pass!"
      ]
    },
    "human" : {
      "default" : [
        "Come 'ere, motherfucker!",
        "Gonna kick your alien ass back home!",
        "Strength in truth!",
        "Bring it!",
        "RAAAAAAAAGHHHH!!!~",
        "Bask in our bloody glory!"
      ],
      "glitch" : [
        "I'm gonna send you to the scrapheap!",
        "Rust in hell, tin can!",
        "Machine, turn back... now!",
        "Bring it!",
        "RAAAAAAAAGHHHH!!!~",
        "Bask in our bloody glory!"
      ],
      "human" : [
        "Time to shit your own pants, traitor!",
        "Nobody gonna miss you!",
        "You're not going anywhere, sissy!",
        "Bring it!",
        "RAAAAAAAAGHHHH!!!~",
        "Bask in our bloody glory!"
      ],
      "sylethii" : [
        "Shit yourself, pretender!",
        "Nobody gonna miss you!",
        "Your jewels will not survive the kicking!",
        "Bring it!",
        "RAAAAAAAAGHHHH!!!~",
        "Bask in our bloody glory!"
      ],
      "ceebe" : [
        "Come 'ere, bitch!",
        "Bad girls gonna get alot of pummeling!",
        "Gonna tear your head off your body!",
        "Bring it!",
        "RAAAAAAAAGHHHH!!!~",
        "Bask in our bloody glory!"
      ],
      "andarhan" : [
        "I'm gonna send you to the scrapheap!",
        "You ain't bringing no extinction, machine!",
        "I shall rend you apart!",
        "Bring it!",
        "RAAAAAAAAGHHHH!!!~",
        "Bask in our bloody glory!"
      ],
      "nharduunr" : [
        "I'd even break your big daddy in two... with my bare hands!",
        "The big opportunity to kick your ancient ass!",
        "Show me what you've got, old man!",
        "Bring it!",
        "RAAAAAAAAGHHHH!!!~",
        "Bask in our bloody glory!"
      ]
    }
  }
}
