{
  "attack" : {
    "default" : {
      "default" : [
        "None shall pass!"
      ]
    },
    "human" : {
      "default" : [
        "Degenerates like you belong on the cross!",
        "Alien identified. Commencing assault now!",
        "Commencing elimination.",
        "We are Neo Occasus. There's nothing that will nor can stop us!",
        "In Eris Lux's name!",
        "You're dead meat!",
        "Ethirionn will use your body for her experiments!",
        "Nonbeliever detected. Eliminating.",
        "We will kill that hag too!",
        "We shall create a new universe from the ashes of old!",
        "The Ruin is heresy! We will not repeat Asra Nox's mistakes!",
        "You will die!"
      ],
      "apex" : [
        "Furries like you belong to hell!",
        "Alien identified. Commencing assault now!",
        "Commencing elimination.",
        "We are Neo Occasus. There's nothing that will nor can stop us!",
        "In Eris Lux's name!",
        "You literal monkeys cannot best us. Don't even try it.",
        "Ethirionn will use your altered body for her experiments!",
        "Heretic detected. Eliminating.",
        "We will surrender you to Miniknog... and gladly kill them all too after they finished with you.",
        "We shall create a new universe from the ashes of old!",
        "The Ruin is heresy! We will not repeat Asra Nox's mistakes!",
        "You will die!"
      ],
      "glitch" : [
        "Machines like you should perish in rust!",
        "Synthetic lifeform identified. Commencing assault now!",
        "Commencing elimination.",
        "We are Neo Occasus. There's nothing that will nor can stop us!",
        "In Eris Lux's name!",
        "Heap of scrap!",
        "We will dismantle you for our weaponry!",
        "Heretic detected. Eliminating.",
        "Who knew machines can be so overconfident!",
        "We shall create a new universe from the ashes of old!",
        "Nobody will miss you, machine!",
        "You will die!"
      ],
      "human" : [
        "Heresy!",
        "Traitor identified. Commencing assault now!",
        "Commencing elimination.",
        "We are Neo Occasus. There's nothing that will nor can stop us!",
        "In Eris Lux's name!",
        "You're dead meat!",
        "Ethirionn will use your carcass for her experiments!",
        "Heretic detected. Eliminating.",
        "We will kill that hag too!",
        "We shall create a new universe from the ashes of old!",
        "The Ruin is heresy! We will not repeat Asra Nox's mistakes!",
        "You've been deceived!"
      ],
      "sylethii" : [
        "You don't even look like human at all!",
        "Impostor identified. Commencing assault now!",
        "Commencing elimination.",
        "We are Neo Occasus. There's nothing that will nor can stop us!",
        "In Eris Lux's name!",
        "You're dead meat!",
        "Ethirionn will use your body for her experiments!",
        "Nonbeliever detected. Eliminating.",
        "Your heretical kind won't be here to save you!",
        "We shall create a new universe from the ashes of old!",
        "I will feed your entrails to our wardogs!",
        "We will destroy Shadowspoken and Domino too!"
      ],
      "ceebe" : [
        "You disgust me, Ceebe!",
        "Repulsive perversion identified. Commencing assault now!",
        "Commencing elimination.",
        "We are Neo Occasus. We shall purge your lust too!",
        "In Eris Lux's name!",
        "Go fuck yourself- Wait... why did I just say that to a Cube-headed freak?",
        "Ethirionn will use your body for her experiments... except your head.",
        "Pervert detected. Eliminating.",
        "Lechery will be your undoing!",
        "We shall create a new universe from the ashes of old!",
        "The Ruin is heresy! We will not repeat Asra Nox's mistakes!",
        "Your sisters will perish as well!"
      ],
      "andarhan" : [
        "Machines like you should perish in rust!",
        "Synthetic lifeform identified. Commencing assault now!",
        "Commencing elimination.",
        "We are Neo Occasus. There's nothing that will nor can stop us!",
        "In Eris Lux's name!",
        "Heap of scrap!",
        "We will dismantle you for our weaponry!",
        "Heretic detected. Eliminating.",
        "Who knew machines can be so overconfident!",
        "We shall create a new universe from the ashes of old!",
        "Nobody will miss you, machine!",
        "You will die!"
      ]
    }
  }
}
