{
  "attack" : {
    "default" : {
      "default" : [
        "None shall pass!"
      ]
    },
    "apex" : {
      "default" : [
        "Double agent identified. Eliminating.",
        "We will study your remains after your termination.",
        "\"Athena\" won't save you, trespasser.",
        "We will rise again.",
        "I identified a trespasser. Commencing immediate elimination.",
        "For the Miniknog!",
        "In Big Ape's name.",
        "Justice will rise again from the ashes!"
      ],
      "apex" : [
        "Rebel identified. Eliminating.",
        "You are not getting out of here alive, rebel.",
        "You, nor \"Athena\", will never truly destroy the Miniknog.",
        "Resistance is futile.",
        "I identified a rebel. Commencing immediate execution.",
        "For the Miniknog!",
        "In Big Ape's name.",
        "Justice will rise again from the ashes!"
      ],
      "sylethii" : [
        "Aggressor identified. Eliminating.",
        "Your war is lost, Sylethii.",
        "You've made a mistake aiding the insurgents against us.",
        "Overconfident child. You should've known your place.",
        "I identified an aggressor. Commencing immediate annihilation.",
        "For the Miniknog!",
        "In Big Ape's name.",
        "Justice will rise again from the ashes!"
      ],
      "ceebe" : [
        "Cretin identified. Eliminating.",
        "A sad display of botched artificial human program. Die!",
        "You may truly think about anything other than sex, but it's never enough.",
        "The Miniknog punishes lechery and prostitutions with death... and I too shall deliver.",
        "We may have underestimated your potential, but it's too little, too late.",
        "For the Miniknog!",
        "In Big Ape's name.",
        "Justice will rise again from the ashes!"
      ],
      "andarhan" : [
        "Aggressor identified. Eliminating.",
        "Your war is lost, Andarhan.",
        "Overconfident machine.",
        "Your machine mind will never comprehend Apex spirit that lead us to victory!",
        "I identified an aggressor. Commencing immediate annihilation.",
        "For the Miniknog!",
        "In Big Ape's name.",
        "Justice will rise again from the ashes!"
      ]
    }
  }
}
